html {
  height: 98%;
}
body{
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
  height: 100%;
  overflow-y:hidden;
}

#enchant-stage {
  clear: both;
  float: left;
  margin: 10px;
}

#palette {
  width: 60%;
  height: 90%;
  border: solid 1px black;
  margin-left: auto;
  margin-right: 10px;
}

/*#blocks {
  width: 700px;
  height: 100px;
  border-top: solid 1px black;
  margin-top: 700px;
}*/

.tabContent.stage {
  clear: both;
}

ul.tab.palette li {
  float: none;
  /*縦書き*/
  writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -o-writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  /******/
  font-size: 36px;
  width: 40px;
  height: 200px;
  text-align: center;
  position: relative;
}

.tab.palette {
  float:right;
}

.tabContent.palette {
  float: left;
}

.drag-and-drop {
  padding: 4px;
  border: solid 1px black;
}
/*table {
  height: 90%;
  width: 100%;
}*/
#blocklyArea {
  height: 99%;
  width: 88%;
}

#blocklyDiv {
  width: 100%;
}


#codeEditor {
  position: absolute;
}


#buttons{
  /*clear: both;*/
  /*float: left;*/
  position: absolute;
}

#buttons button {
  height: 60px;
  float: left;
  margin: 0 auto;
  /*font-size: 30px;*/
}


#console {
  border: 1px solid black;
  position: absolute;
  float: left;
  font-size: 24px;
}

.stageNumber {
  width: 24px;
  text-align: center;
  font-size: 24px;
  list-style: none;
  float: left;
  margin-top: 0px;
  cursor: pointer;
  border: 1px solid #999999;
  background: white;
}

.stageNumber:hover {
  background-color: #ff8200;
  color: #000000;
}

#genre li {
  font-size: 24px;
}
