body {
  margin: 0px;
}

h1 {
  background: #00e0ff;
  font-size: 48px;
  font-family: Century;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 36px;
}

#team {
  text-align: center;
}


#teacher {
  float: left;
  width: 300px;
  height: 250px;
  margin-left: 30%;
}



#student {
  width: 300px;
  height: 250px;
  margin-left: auto;
  margin-right: 30%;
}

#newaccount {
  font-size: 24px;
}

#register {
  height: 40px;
  font-size: 32px;
}

#button {
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}
