#stageName {
  width: 30%;
  height: 30px;
  margin: 10px;
  margin-left: 470px;
  margin-right: 0px;
  font-size: 30px;
    float: left;
}

h1 {
  font-size: 32px;
  margin: 10px;
  margin-left: 0px;
}

#genre {
  font-size: 30px;
  margin: 10px;
}

#teacher-header {
  width: 240px;
}
