#stageName {
  width: 600px;
  height: 30px;
  margin: 10px;
  margin-left: 500px;
  font-size: 30px;
}

h1 {
  margin: 10px;
}

#stageName {
  float: left;
}

#genre {
  font-size: 30px;
  margin: 10px;
}
