h1 {
  float: left;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

#header {

}

#teacher-header {
  width: 250px;
}


body {
  font-size: 20px;
}

#geneButton {
  height: 40px;
  width: 100px;
}
